:root {
  --vp-code-block-bg: #2e3440ff !important;
  --vp-code-line-highlight-color: #39455a !important;
  --vp-c-brand: #198BA1 !important;
  --vp-c-brand-light: #74B9CB !important;
  --vp-c-brand-lighter: #3EA4BA !important;
  --vp-c-brand-dark: #277181 !important;
  --vp-c-brand-darker: #1b4c56 !important;
  /* --vp-home-hero-name-color: var(--vp-c-brand); */
  --vp-home-hero-name-background: linear-gradient(135deg, rgba(0,85,102,1) 0%, rgba(117,82,135,1) 100%) !important;
--vp-home-hero-name-background: linear-gradient(135deg, rgba(4,121,144,1) 0%, rgba(138,105,156,1) 100%) !important;
  --vp-home-hero-name-color: transparent !important;
  --vp-font-family-base: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif !important;
}

.dark .VPHero .image-bg {
  --vp-home-hero-image-background-image: linear-gradient(135deg, rgba(4,121,144, 0.25) 0%, rgba(138,105,156, 0.25) 100%);
  --vp-home-hero-image-filter: blur(32px);
}

.vp-doc blockquote > p {
  font-size: 0.8rem !important;
}

