html {
  font-size: 62.5%;
}

body {
  font-family: var(--vp-font-family-base);
  font-size: 16px;
  line-height: 24px;
  background-color: var(--vp-c-bg);
  color: var(--vp-c-text-1);
}

:root {
  --vp-code-block-bg: #2e3440ff !important;
  --vp-code-line-highlight-color: #39455a !important;
  --vp-c-brand: #BE3830;
  --vp-c-brand-dark: #BE3830;
  --vp-home-hero-name-color: #BE3830;
  --vp-c-brand-darker: #9F2F28;
  --vp-c-brand-light: #CF4840;
  --vp-c-brand-lighter: #E6A29D;
  --vp-font-family-base: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif !important;
  --vp-local-search-highlight-bg: #E6A29D;
}

.dark body {
  --vp-c-brand: #F6D553;
  --vp-c-brand-dark: #F6D553;
  --vp-home-hero-name-color: #F6D553;
  --vp-local-search-highlight-bg: #E6A29D;
  --w-color-text: white;
}

.dark .VPHero .image-bg {
  --vp-home-hero-image-background-image: linear-gradient(135deg, rgba(4,121,144, 0.25) 0%, rgba(138,105,156, 0.25) 100%);
  --vp-home-hero-image-filter: blur(32px);
}

.vp-doc blockquote > p {
  font-size: 1.28rem !important;
}

